{% extends "Tale/base.html" %}
{% block body %}
    <div style="background-image: url(/static/assets/images/header-1.jpg);" class="intro-hero section-overlay-dark">
        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1">
                <h1>About</h1>
                <p>A sharing-stories site</p>
            </div>
        </div>
    </div>
    
    <section class="section section-semi-white text-left">
        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-12">
                    <div class="row">
                        <div class="section-head decoration-left"><span class="overlay">Purpose</span>
                            <h2>Purpose</h2>
                            <p>The team &amp; the purpose</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="text-block about-text-block">
                            <h2>Ambitious team.</h2>
                            <p class="text-justify">I agree with the article - we tend to forget that areas such as
                                customer
                                support or communications are entirely part <a href="#!"
                                                                               class="link-with-effect">mentors</a> what
                                users experience on our product what users experience on our products. Were you
                                suggesting
                                in your intro that it's just one step or it's not? Thanks!</p><a href="index.html"
                                                                                                 class="btn btn-primary">Careers</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 padding-left-big">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="icon-block"><i class="ion-ios-heart-outline"></i>
                                    <h3>Loved by thousands</h3>
                                    <p>Tale website is loved by thousands customers and people.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="icon-block"><i class="ion-ios-speedometer-outline"></i>
                                    <h3>Fast platform</h3>
                                    <p>A top-speed website &amp; service with no downtime, never.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="icon-block"><i class="ion-ios-world-outline"></i>
                                    <h3>International</h3>
                                    <p>We do have many visitors from every part of the planet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="icon-block"><i class="ion-ios-cog-outline"></i>
                                    <h3>Customization</h3>
                                    <p>You have the full control of how your post will look and feel.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-nopadding section-semi-white text-left">
        <div class="container-fluid">
            <div class="banner row vertical-middle">
                <div style="background-image: url(/static/assets/images/about-1.jpg); height:500px"
                     class="col-md-6 background-image"></div>
                <div class="col-md-6 padding-left-big">
                    <div class="text-block"><span>We help you share</span>
                        <h2>Amazing new tales</h2>
                        <p>Heaven night form, seed make night every whose place man greater Midst. Fill fourth Created.
                            Every forth unto after. Third over fifth, upon moving yielding moved made dry signs won't
                            creepeth meat. Midst fourth signs living night i abundantly thing without dry unto there
                            years
                            creature. She'd rule of isn't every seed divided creeping god. For there in midst place our
                            which grass green god gathering itself fill. Made wherein.</p><a href="index.html"
                                                                                             class="btn btn-primary">Try
                            it
                            now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-nopadding section-semi-white text-left">
        <div class="container-fluid">
            <div class="banner row vertical-middle">
                <div class="col-md-6 padding-left-big">
                    <div class="text-block"><span>You have the full control</span>
                        <h2>Over your tales</h2>
                        <p>Seed make night every whose place man greater Midst. Fill fourth Created. Every forth unto
                            after.
                            Third over fifth, upon moving yielding moved made dry signs won't creepeth meat. Midst
                            fourth
                            signs living night i abundantly thing without dry unto there years creature. She'd rule of
                            isn't
                            every seed divided creeping god. For there in midst place our which grass green god
                            gathering
                            itself.</p><a href="single-post.html" class="btn btn-primary">See it live</a>
                    </div>
                </div>
                <div style="background-image: url(/static/assets/images/about-2.jpg); height:500px"
                     class="col-md-6 background-image"></div>
            </div>
        </div>
    </section>
    <section style="background-image: url(/static/assets/images/header-2.jpg"
             class="section section-white section-banner text-left background-image">
        <div class="section-overlay"></div>
        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="text-block banner"><i class="ion-ionic"></i>
                            <h2>Contact us</h2>
                            <p>If you wish to drop a line, say a hello or a cup of coffee to our offices, don't hesitate
                                to
                                contact us.</p><a href="contact.html" class="btn btn-primary">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}