{% for article in article_list %}
    <div class="col-md-12">
        <article class="blog-post"><a href="single-post.html"></a>
            <div class="blog-post-details">
                <div class="secondary-information text-center small-screen-hidden">
                    <img src="/media/{{ article.user.avatar }}" alt="Author image"
                         class="img-circle"/>
                    <i class="ion-ios-heart-outline"></i>
                    <!--点赞数-->
                    <span class="favorites-counter">{{ article.up_count }}</span>
                </div>
                <a href="single-post.html">
                    <h3>{{ article.title }}<small>了解更多</small></h3></a>
                <p>{{ article.desc }}</p>
                <a href="single-post.html" class="comments"><i
                        class="ion-ios-chatbubble-outline">
                    <!--评论数-->
                </i>{{ article.comment_count }}</a><a
                    href="single-post.html"
                    title="Estimated read time"
                    class="date">
                <i class="ion-ios-clock-outline"></i>
                <!--发布时间-->
                {{ article.create_time|date:"Y-m-d H:i" }}
            </a>
            </div>
            <hr/>
        </article>
    </div>
{% endfor %}