{% extends "Tale/base.html" %}

{% block body %}


    <!--顶部图片-->
    {% block head_img %}
        <div style="background-image: url(/static/assets/images/header-2.jpg);" class="intro-hero section-overlay-dark">
            <div class="container-fluid">
                <div class="col-md-10 col-md-offset-1">

                    <!--作者头像-->
                    <img src="/media/{{ user.avatar }}" alt="Author image"
                         class="img-circle" width="100"/>
                    <h1 id="user_name">{{ user.username }}</h1>
                    <p>A basic blog layout.</p>
                </div>
            </div>
        </div>
    {% endblock %}
    {% csrf_token %}
    <!--正文部分-->
    {% block body_content %}
        <section class="section section-semi-white text-left">
            <div class="container-fluid">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">

                                    <!--头像下背景字-->
                                    <div class="section-head decoration-left"><span class="overlay">BLOG</span>


                                        <h2>{{ blog.title }}</h2>
                                        <p>{{ blog.theme }}</p>
                                        <hr/>
                                    </div>
                                </div>

                                <!--文章-->
                                <div id="article_list">

                                </div>


                                <div class="col-md-12 margin-top"><a href="home-magazine.html" class="btn btn-primary">More
                                    posts</a></div>
                            </div>
                        </div>
                        <div class="col-md-4 small-screen-margin-top">
                            <div class="row">
                                <div class="col-md-12 widget-top-margin">
                                    <div class="widget">
                                        <form class="search-form">
                                            <input id="search" type="text" placeholder="Search" class="form-control"/><i
                                                class="icon ion-ios-search"></i>
                                        </form>
                                    </div>
                                </div>


                                <!--标签-->
                                <div class="col-md-12">
                                    <div class="widget">
                                        <h4>标签</h4>
                                        <ul class="tags-widget" id="tag_list">
                                            <!--标签-->


                                        </ul>
                                    </div>
                                </div>

                                <!--分类-->
                                <div class="col-md-12">
                                    <div class="widget">
                                        <h4>分类</h4>
                                        <ul class="categories-widget" id="cate_list">

                                        </ul>
                                    </div>
                                </div>


                                <!--归档-->
                                <div class="col-md-12">
                                    <div class="widget">
                                        <h4>归档</h4>
                                        <ul class="categories-widget" id="year_month">


                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
{% endblock %}

