{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <!--标题-->
    <title>{% block title %}主页{% endblock %}</title>


    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/assets/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/assets/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/assets/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/assets/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/assets/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/assets/images/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/static/assets/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/assets/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/assets/images/favicon/favicon-16x16.png" sizes="16x16">

    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts-->
    <link href='/static/assets/css/fonts.css' rel='stylesheet'
          type='text/css'>
    <!-- MAIN STYLESHEETS-->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/assets/css/theme.css" type="text/css" media="all"/>
    {% block header %}

    {% endblock %}

</head>

<body>
{% csrf_token %}

<div class="search">
    <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <form>
                <input type="search" placeholder="输入内容"/>
            </form>
        </div>
    </div>
</div>


<!--导航栏-->
<header class="main-navigation">
    <div class="container-fluid">

        <!--顶部导航栏-->
        <div class="col-md-2 col-sm-3 col-xs-7">
            <!--LOGO-->
            <a href="/" class="logo"><img src="{% static  "assets/images/logo/logo-dark.png" %}" alt="Logo"/></a>
        </div>

        <div class="col-md-10 col-sm-9 col-xs-5">

            <nav>
                <div class="nav-tools">


                    {% if request.user.is_authenticated %}
                        <a href="#!" class="btn btn-primary write-your-tale-btn">管理</a>
                        <a class="search-trigger"><i class="ion-ios-search-strong"></i></a>

                        <!--个人头像-->
                        <img src="/media/{{ request.user.avatar }}" alt="avatar" data-toggle="dropdown"
                             aria-haspopup="true" aria-expanded="false" width="50" id="dLabel" class="img-circle"/>

                        <ul aria-labelledby="dLabel" class="dropdown-menu account-dropdown">

                            <li><a href="/{{ request.user.blog.site_name }}/">我的<i class="ion-ios-person"></i></a></li>
                            <li><a href="#!">设置<i class="ion-ios-cog"></i></a></li>
                            <li class="line"></li>
                            <li><a href=/logout/>退出登录<i class="ion-ios-exit"></i></a></li>
                        </ul>

                    {% else %}


                        <a href="/login/" class="btn btn-primary">登录</a>





                    {% endif %}

                </div>

            </nav>

        </div>

        <!--左侧导航栏，暂时不需要，注释了-->
        <!--
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left text-left">
            <a href="#" class="menu-close-btn"><i class="icon ion-ios-close-outline"></i></a>
            <div id="cssmenu">
                <ul>
                    <li class="header">Navigation</li>
                    <li><a href="index.html">Home</a>

                    </li>

                    <li><a href="#!">Posts</a>
                        <ul>
                            <li><a href="single-post.html">Default</a></li>
                            <li><a href="single-post-minimal.html">Minimal</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">Pages</a>
                        <ul>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="search-results.html">Search Results</a></li>
                            <li><a href="author.html">Profile</a></li>
                            <li><a href="404.html">404</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="widget">
                <form class="search-form">
                    <input type="text" placeholder="Search" class="form-control"/><i
                        class="icon ion-ios-search"></i>
                </form>
            </div>
            <div class="widget">
                <h4>Tale template</h4>
                <p>A template based on clean design and story-telling.</p><a href="about.html" class="btn btn-link">About</a>
            </div>
            <p class="copyright">TALE TEMPLATE &copy; 2015 </p>
        </div>
        -->

    </div>
</header>

<!--继承主体-->
<!--主体内容-->
{% block body %}

    {% block head_img %}
        <!--顶部图片-->
        <div class="home-slider">
            <div style="background-image: url(/static/assets/images/blog-slide-1.jpg);"
                 class="intro-hero nopadding-left section-overlay-dark">
                <div class="container-fluid">
                    <div class="col-md-10 col-md-offset-1 nopadding-left home-slider-fix"><a href="#!">
                        <h1>A paradise-like place</h1></a>
                        <p>Welcome to one of the most amazing places on planet earth.</p>
                        <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 9.412
                            Views</a><a
                                href="single-post.html" class="lower"><i class="ion-ios-chatbubble"></i> 564
                            Comments</a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background-image: url(/static/assets/images/blog-slide-2.jpg);"
                 class="intro-hero nopadding-left section-overlay-dark">
                <div class="container-fluid">
                    <div class="col-md-10 col-md-offset-1 nopadding-left home-slider-fix"><a href="#!">
                        <h1>My experience from a hotel</h1></a>
                        <p>How me and my company experienced the 5-star hotel experience.</p>
                        <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 5.988
                            Views</a><a
                                href="single-post.html" class="lower"><i class="ion-ios-chatbubble"></i> 132
                            Comments</a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background-image: url(/static/assets/images/blog-slide-3.jpg);"
                 class="intro-hero nopadding-left section-overlay-dark">
                <div class="container-fluid">
                    <div class="col-md-10 col-md-offset-1 home-slider-fix"><a href="#!">
                        <h1>Straight from Mexico</h1></a>
                        <p>My roadtrip to Mexico and how it felt.</p>
                        <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 5.226
                            Views</a><a
                                href="single-post.html" class="lower"><i class="ion-ios-chatbubble"></i> 69 Comments</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    <!--正文部分-->
    {% block body_content %}
        <section class="section section-semi-white text-left">
            <div class="container-fluid">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">

                                    <!--头像下背景字-->
                                    <div class="section-head decoration-left"><span class="overlay">BLOG</span>


                                        <h2>主页</h2>
                                        <p>这里有各个作者的博客</p>
                                        <hr/>
                                    </div>
                                </div>

                                <!--文章-->
                                <div id="article_list">

                                </div>


                                <div class="col-md-12 margin-top"><a href="home-magazine.html" class="btn btn-primary">More
                                    posts</a></div>
                            </div>
                        </div>
                        <div class="col-md-4 small-screen-margin-top">
                            <div class="row">
                                <div class="col-md-12 widget-top-margin">
                                    <div class="widget">
                                        <form class="search-form">
                                            <input id="search" type="text" placeholder="Search" class="form-control"/><i
                                                class="icon ion-ios-search"></i>
                                        </form>
                                    </div>
                                </div>


                                <!--标签-->
                                <div class="col-md-12">
                                    <div class="widget">
                                        <h4>标签</h4>
                                        <ul class="tags-widget" id="tag_list">
                                            <!--标签-->


                                        </ul>
                                    </div>
                                </div>

                                <!--分类-->
                                <div class="col-md-12">
                                    <div class="widget">
                                        <h4>分类</h4>
                                        <ul class="categories-widget" id="cate_list">

                                        </ul>
                                    </div>
                                </div>


                                <!--归档-->
                                <div class="col-md-12">
                                    <div class="widget">
                                        <h4>归档</h4>
                                        <ul class="categories-widget" id="year_month">


                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    <!--剩下的不知道该放啥-->
    <section class="section-nopadding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 category-banner">
                    <div class="row"><a href="single-post.html"><img src="/static/assets/images/widget-nature.jpg"
                                                                     alt="category-image"/>
                        <div class="hidden-category">
                            <h2>Nature</h2><span># Wildlife</span>
                        </div>
                    </a></div>
                </div>
                <div class="col-md-3 col-sm-6 category-banner">
                    <div class="row"><a href="single-post.html"><img src="/static/assets/images/widget-journey.jpg"
                                                                     alt="category-image"/>
                        <div class="hidden-category">
                            <h2>Journey</h2><span># Adventure</span>
                        </div>
                    </a></div>
                </div>
                <div class="col-md-3 col-sm-6 category-banner">
                    <div class="row"><a href="single-post.html"><img src="/static/assets/images/widget-technology.jpg"
                                                                     alt="category-image"/>
                        <div class="hidden-category">
                            <h2>Technology</h2><span># Smartphones</span>
                        </div>
                    </a></div>
                </div>
                <div class="col-md-3 col-sm-6 category-banner">
                    <div class="row"><a href="single-post.html"><img src="/static/assets/images/widget-music.jpg"
                                                                     alt="category-image"/>
                        <div class="hidden-category">
                            <h2>Music</h2><span># Concerts</span>
                        </div>
                    </a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-semi-white text-left">
        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-head decoration-left"><span class="overlay">Trending</span>
                                    <h2>Trending posts</h2>
                                    <p>Top trending stories</p>
                                    <hr/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <article class="blog-post"><a href="single-post.html"><img
                                        src="/static/assets/images/mag-1.jpg" alt="Post image"/></a>
                                    <div class="blog-post-details">
                                        <div class="secondary-information text-center small-screen-hidden"><img
                                                src="/static/assets/images/avatar-1.jpg" alt="Author image"
                                                class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                class="favorites-counter">54</span></div>
                                        <a href="single-post.html">
                                            <h3>5 things that makes us happy<small>read more</small></h3></a>
                                        <p>This me given waters. Fruit. Together. Fruit us green sea sea without a,
                                            wherein
                                            which. Fill you image rule Herb saying said was that living. Face our whales
                                            One
                                            beginning two appear to created for form a. Years enthusiast.</p><a
                                            href="single-post.html" class="comments"><i
                                            class="ion-ios-chatbubble-outline"></i>9</a><a href="single-post.html"
                                                                                           title="Estimated read time"
                                                                                           class="date"><i
                                            class="ion-ios-clock-outline"></i>3 min</a>
                                    </div>
                                    <hr/>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="blog-post"><a href="single-post.html"><img
                                        src="/static/assets/images/mag-2.jpg" alt="Post image"/></a>
                                    <div class="blog-post-details">
                                        <div class="secondary-information text-center small-screen-hidden"><img
                                                src="/static/assets/images/avatar-2.jpg" alt="Author image"
                                                class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                class="favorites-counter">26</span></div>
                                        <a href="single-post.html">
                                            <h3>10 morning routines<small>read more</small></h3></a>
                                        <p>No new friends given waters. Fruit. Together. Fruit us green sea sea without
                                            a,
                                            wherein which. Fill you image rule Herb saying said was that living. Face
                                            our
                                            whales One beginning two appear to created for form a.Drizzy given
                                            taken.</p><a
                                            href="single-post.html" class="comments"><i
                                            class="ion-ios-chatbubble-outline"></i>11</a><a href="single-post.html"
                                                                                            title="Estimated read time"
                                                                                            class="date"><i
                                            class="ion-ios-clock-outline"></i>2 min</a>
                                    </div>
                                    <hr/>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="blog-post"><a href="single-post.html"><img
                                        src="/static/assets/images/mag-3.jpg" alt="Post image"/></a>
                                    <div class="blog-post-details">
                                        <div class="secondary-information text-center small-screen-hidden"><img
                                                src="/static/assets/images/avatar-3.jpg" alt="Author image"
                                                class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                class="favorites-counter">11</span></div>
                                        <a href="single-post.html">
                                            <h3>Daily job<small>read more</small></h3></a>
                                        <p>Fruit. Together. Land you given waters. Fruit us green sea sea without a,
                                            wherein
                                            which. Fill you image rule Herb saying said was that living. Face our whales
                                            One
                                            beginning two appear to created for form a. Tale given.</p><a
                                            href="single-post.html" class="comments"><i
                                            class="ion-ios-chatbubble-outline"></i>5</a><a href="single-post.html"
                                                                                           title="Estimated read time"
                                                                                           class="date"><i
                                            class="ion-ios-clock-outline"></i>5 min</a>
                                    </div>
                                    <hr/>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background-image: url(/static/assets/images/featured-2.jpg)"
             class="section section-semi-white text-left background-image">
        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="section-head decoration-left featured">
                            <h2>Featured tale</h2>
                            <p>The most recommended story of the week</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="featured-story">
                            <h2><a href="single-post.html">A success story</a></h2>
                            <p>A them <a href="single-post.html" class="link-with-effect">movement</a> lights beast
                                there.
                                Thing there bearing also bring said first given fruitful, saying can't gathering
                                yielding
                                you're the. Created wherein upon said don't moveth you'll also divide so seasons they're
                                grass gathered seasons life two fourth divided one there man can't you're of after can't
                                morning so over fruit together set greater were cattle fruit gathered fill. </p><a
                                href="single-post.html" class="btn btn-primary">View the story</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}

<!--底部信息栏-->
<footer>
    <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-2"><img src="/static/assets/images/logo/logo-dark.png" alt="footer-logo" width="70"/>
            </div>
            <div class="col-md-2 small-screen-margin-top">
                <h4>导航</h4>
                <ul class="footer-menu text-left">
                    <li class="small"><a href="/">主页</a></li>
                    <li class="small"><a href="/about/">关于站点</a></li>

                </ul>
            </div>
            <div class="col-md-2">
                <h4>加入我们</h4>
                <ul class="footer-menu text-left">
                    <li class="small"><a href="/login/">登录</a></li>
                    <li class="small"><a href="/register/">注册</a></li>

                </ul>
            </div>
            <div class="col-md-2">
                <h4>联系站主</h4>
                <ul class="footer-menu text-left">
                    <li class="small"><a href="">email</a></li>
                    <li class="small"><a href="">phone</a></li>

                </ul>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 text-left">
                <div class="margin-bottom">
                    <h4>Newsletter</h4>
                    <p class="newsletter-paragraph">Claim the top 5 stories daily. In your inbox. </p>
                    <form class="newsletter-form text-left">
                        <input placeholder="YOUR EMAIL ADDRESS..." class="form-control"/>
                        <button type="submit">I'M IN</button>
                        <div class="col-md-12 text-left margin-top">
                            <div class="row"><small>You have our word, no spam. Ever.</small></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12 margin-top">
                <hr/>
                <div class="col-md-6">
                    <div class="row">
                        <ul class="social-icons pull-left">
                            <li><a href="#!"><i class="ion-social-python"></i></a></li>
                            <li><a href="#!"><i class="ion-social-markdown"></i></a></li>
                            <li><a href="#!"><i class="ion-social-nodejs"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="row"><span class="footer-message">All rights reserved &copy; Tale Template</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/static/assets/js/jquery-3.6.0.min.js"></script>
<script src="/static/assets/js/packages.js"></script>
<script src="/static/assets/js/theme.js"></script>
<!--<script src="/static/assets/js/map.js"></script>-->
<script src="/static/assets/js/contact.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
<script type="text/javascript" src="/static/assets/js/slider-initialization.js"></script>
{#<script type="text/javascript" src="/static/assets/js/my_blog.js"></script>#}

{% block js %}
    <script>

        var username = "{{ user.username }}";

        // 获取文章列表
        $(document).ready(function () {

            $.ajax({
                url: "/query_article_list/",
                type: "post",

                username: "{{ user.username }}",
                data: {
                    name: 'all',
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    username: username,
                },

                success: function (data) {

                    $('#article_list').html(data.content_html);

                }
            });

            $.ajax({
                url: "/query_tag_list/",
                type: "post",

                username: "{{ user.username }}",
                data: {
                    name: 'all',
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    username: username,
                },

                success: function (data) {

                    $('#tag_list').html(data.content_html);

                }
            });

            $.ajax({
                url: "/query_cate_list/",
                type: "post",

                username: "{{ user.username }}",
                data: {
                    name: 'all',
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    username: username,
                },

                success: function (data) {

                    $('#cate_list').html(data.content_html);

                }
            });

            // 获取归档列表
            $.ajax({
                url: "/query_month_list/",
                type: "post",

                username: "{{ user.username }}",
                data: {
                    name: 'all',
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    username: username,
                },

                success: function (data) {

                    $('#year_month').html(data.content_html);

                }
            });

        });


        // 触发点击事件，js渲染后点击失效，已经解决
        $(document).on("click", ".author_btn", function () {
            var id = this.id;
            var name = this.getAttribute("name");
            console.log(id, name)
            $.ajax({
                url: "/query_article_list/",
                type: "post",

                username: "{{ user.username }}",
                data: {
                    id: id,
                    name: name,
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    username: username,
                },

                success: function (data) {

                    $('#article_list').html(data.content_html);

                }
            })
        });


    </script>
{% endblock %}
</body>
</html>