{% extends "Tale/base.html" %}

{% block body %}

    {% block head_img %}
        <!--顶部图片-->
        <div class="home-slider">
            <div style="background-image: url(/static/assets/images/blog-slide-1.jpg);"
                 class="intro-hero nopadding-left section-overlay-dark">
                <div class="container-fluid">
                    <div class="col-md-10 col-md-offset-1 nopadding-left home-slider-fix"><a href="#!">
                        <h1>A paradise-like place</h1></a>
                        <p>Welcome to one of the most amazing places on planet earth.</p>
                        <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 9.412
                            Views</a><a
                                href="single-post.html" class="lower"><i class="ion-ios-chatbubble"></i> 564
                            Comments</a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background-image: url(/static/assets/images/blog-slide-2.jpg);"
                 class="intro-hero nopadding-left section-overlay-dark">
                <div class="container-fluid">
                    <div class="col-md-10 col-md-offset-1 nopadding-left home-slider-fix"><a href="#!">
                        <h1>My experience from a hotel</h1></a>
                        <p>How me and my company experienced the 5-star hotel experience.</p>
                        <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 5.988
                            Views</a><a
                                href="single-post.html" class="lower"><i class="ion-ios-chatbubble"></i> 132
                            Comments</a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background-image: url(/static/assets/images/blog-slide-3.jpg);"
                 class="intro-hero nopadding-left section-overlay-dark">
                <div class="container-fluid">
                    <div class="col-md-10 col-md-offset-1 home-slider-fix"><a href="#!">
                        <h1>Straight from Mexico</h1></a>
                        <p>My roadtrip to Mexico and how it felt.</p>
                        <div class="hero-widget"><a href="single-post.html"><i class="ion-ios-eye"></i> 5.226
                            Views</a><a
                                href="single-post.html" class="lower"><i class="ion-ios-chatbubble"></i> 69 Comments</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    <!--正文部分-->
    {% block body_content %}
        <section class="section section-semi-white text-left">
            <div class="container-fluid">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-head decoration-left"><span class="overlay">latest</span>
                                        <h2>Latest posts</h2>
                                        <p>The newest stories for you</p>
                                        <hr/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <article class="blog-post"><a href="single-post.html"><img
                                            src="/static/assets/images/blog-5.jpg" alt="Post image"/></a>
                                        <div class="blog-post-details">
                                            <div class="secondary-information text-center small-screen-hidden"><img
                                                    src="/static/assets/images/avatar-2.jpg" alt="Author image"
                                                    class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                    class="favorites-counter">98</span></div>
                                            <a href="single-post.html">
                                                <h3>We love writing<small>read more</small></h3></a>
                                            <p>To show you given waters. Fruit. Together. Fruit us green sea sea without
                                                a,
                                                wherein which. Fill you image rule Herb saying said was that living.
                                                Face
                                                our
                                                whales One beginning two appear to created for form a. man that's a
                                                lot.</p>
                                            <a
                                                    href="single-post.html" class="comments"><i
                                                    class="ion-ios-chatbubble-outline"></i>32</a><a
                                                href="single-post.html"
                                                title="Estimated read time"
                                                class="date"><i
                                                class="ion-ios-clock-outline"></i>3 min</a>
                                        </div>
                                        <hr/>
                                    </article>
                                </div>
                                <div class="col-md-6">
                                    <article class="blog-post"><a href="single-post.html"><img
                                            src="/static/assets/images/blog-4.jpg" alt="Post image"/></a>
                                        <div class="blog-post-details">
                                            <div class="secondary-information text-center small-screen-hidden"><img
                                                    src="/static/assets/images/avatar-3.jpg" alt="Author image"
                                                    class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                    class="favorites-counter">62</span></div>
                                            <a href="single-post.html">
                                                <h3>The day I live<small>read more</small></h3></a>
                                            <p>First week given waters. Fruit. Together. Fruit us green sea sea without
                                                a,
                                                wherein which. Fill you image rule Herb saying said was that living.
                                                Face
                                                our
                                                whales One beginning two appear to created for form a. Really
                                                appeared.</p>
                                            <a
                                                    href="single-post.html" class="comments"><i
                                                    class="ion-ios-chatbubble-outline"></i>12</a><a
                                                href="single-post.html"
                                                title="Estimated read time"
                                                class="date"><i
                                                class="ion-ios-clock-outline"></i>1 min</a>
                                        </div>
                                        <hr/>
                                    </article>
                                </div>
                                <div class="col-md-12">
                                    <article class="blog-post"><a href="single-post.html"><img
                                            src="/static/assets/images/blog-1.jpg" alt="Post image"/></a>
                                        <div class="blog-post-details">
                                            <div class="secondary-information text-center small-screen-hidden"><img
                                                    src="/static/assets/images/avatar-4.jpg" alt="Author image"
                                                    class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                    class="favorites-counter">45</span></div>
                                            <a href="single-post.html">
                                                <h3>This was urgent<small>read more</small></h3></a>
                                            <p>No lobe and affecftion. Together. Fruit us green sea sea without a,
                                                wherein
                                                which. Fill you image rule Herb saying said was that living. Face our
                                                whales
                                                One
                                                beginning two appear to created for form a. They wanted me to .</p><a
                                                href="single-post.html" class="comments"><i
                                                class="ion-ios-chatbubble-outline"></i>98</a><a href="single-post.html"
                                                                                                title="Estimated read time"
                                                                                                class="date"><i
                                                class="ion-ios-clock-outline"></i>2 min</a>
                                        </div>
                                        <hr/>
                                    </article>
                                </div>
                                <div class="col-md-12">
                                    <article class="blog-post"><a href="single-post.html"><img
                                            src="/static/assets/images/blog-3.jpg" alt="Post image"/></a>
                                        <div class="blog-post-details">
                                            <div class="secondary-information text-center small-screen-hidden"><img
                                                    src="/static/assets/images/avatar-1.jpg" alt="Author image"
                                                    class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                    class="favorites-counter">11</span></div>
                                            <a href="single-post.html">
                                                <h3>We are nation<small>read more</small></h3></a>
                                            <p>Land you given waters. Fruit. Together. Fruit us green sea sea without a,
                                                wherein
                                                which. Fill you image rule Herb saying said was that living. Face our
                                                whales
                                                pear to created for form a. Years given bring.One beginning two.</p><a
                                                href="single-post.html" class="comments"><i
                                                class="ion-ios-chatbubble-outline"></i>32</a><a href="single-post.html"
                                                                                                title="Estimated read time"
                                                                                                class="date"><i
                                                class="ion-ios-clock-outline"></i>3 min</a>
                                        </div>
                                    </article>
                                    <hr/>
                                </div>
                                <div class="col-md-12 margin-top"><a href="home-magazine.html" class="btn btn-primary">More
                                    posts</a></div>
                            </div>
                        </div>
                        <div class="col-md-4 small-screen-margin-top">
                            <div class="row">
                                <div class="col-md-12 widget-top-margin">
                                    <div class="widget">
                                        <form class="search-form">
                                            <input type="text" placeholder="Search" class="form-control"/><i
                                                class="icon ion-ios-search"></i>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="widget">
                                        <h4>Top voted stories</h4>
                                        <ul class="favorite-posts">
                                            <li><a href="#!"> <img src="/static/assets/images/widget-latest-post-1.jpg"
                                                                   alt="Featured Image" width="50"
                                                                   class="img-circle"/><span><small>.1</small>Not your cultural belief</span></a>
                                            </li>
                                            <li><a href="#!"> <img src="/static/assets/images/widget-latest-post-2.jpg"
                                                                   alt="Featured Image" width="50"
                                                                   class="img-circle"/><span><small>.2</small>We are a nation</span></a>
                                            </li>
                                            <li><a href="#!"> <img src="/static/assets/images/widget-latest-post-3.jpg"
                                                                   alt="Featured Image" width="50"
                                                                   class="img-circle"/><span><small>.3</small>UI / UX Approach</span></a>
                                            </li>
                                            <li><a href="#!"> <img src="/static/assets/images/widget-latest-post-4.jpg"
                                                                   alt="Featured Image" width="50"
                                                                   class="img-circle"/><span><small>.4</small>The day I live</span></a>
                                            </li>
                                            <li><a href="#!"> <img src="/static/assets/images/widget-latest-post-5.jpg"
                                                                   alt="Featured Image" width="50"
                                                                   class="img-circle"/><span><small>.5</small>The place boomin'</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="widget">
                                        <h4>Tags</h4>
                                        <ul class="tags-widget">
                                            <li class="button-tag"><a href="#!">Long story short</a></li>
                                            <li class="button-tag"><a href="#!">Nature</a></li>
                                            <li class="button-tag"><a href="#!">Biological</a></li>
                                            <li class="button-tag"><a href="#!">True story</a></li>
                                            <li class="button-tag"><a href="#!">Period</a></li>
                                            <li class="button-tag"><a href="#!">Vikings</a></li>
                                            <li class="button-tag"><a href="#!">History</a></li>
                                            <li class="button-tag"><a href="#!">Paris</a></li>
                                            <li class="button-tag"><a href="#!">WeAreANation</a></li>
                                            <li class="button-tag"><a href="#!">PeoplePeople</a></li>
                                            <li class="button-tag"><a href="#!">Most Wanted</a></li>
                                            <li class="button-tag"><a href="#!">Sillicon Valley</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="widget">
                                        <h4>Categories</h4>
                                        <ul class="categories-widget">
                                            <li><a href="#!">Favorites</a></li>
                                            <li><a href="#!">Welcome</a></li>
                                            <li><a href="#!">Tales</a></li>
                                            <li><a href="#!">Briefing</a></li>
                                            <li><a href="#!">Art</a></li>
                                            <li><a href="#!">Web</a></li>
                                            <li><a href="#!">Design </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}


    <section class="section-nopadding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 category-banner">
                    <div class="row"><a href="single-post.html"><img src="/static/assets/images/widget-nature.jpg"
                                                                     alt="category-image"/>
                        <div class="hidden-category">
                            <h2>Nature</h2><span># Wildlife</span>
                        </div>
                    </a></div>
                </div>
                <div class="col-md-3 col-sm-6 category-banner">
                    <div class="row"><a href="single-post.html"><img src="/static/assets/images/widget-journey.jpg"
                                                                     alt="category-image"/>
                        <div class="hidden-category">
                            <h2>Journey</h2><span># Adventure</span>
                        </div>
                    </a></div>
                </div>
                <div class="col-md-3 col-sm-6 category-banner">
                    <div class="row"><a href="single-post.html"><img src="/static/assets/images/widget-technology.jpg"
                                                                     alt="category-image"/>
                        <div class="hidden-category">
                            <h2>Technology</h2><span># Smartphones</span>
                        </div>
                    </a></div>
                </div>
                <div class="col-md-3 col-sm-6 category-banner">
                    <div class="row"><a href="single-post.html"><img src="/static/assets/images/widget-music.jpg"
                                                                     alt="category-image"/>
                        <div class="hidden-category">
                            <h2>Music</h2><span># Concerts</span>
                        </div>
                    </a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-semi-white text-left">
        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-head decoration-left"><span class="overlay">Trending</span>
                                    <h2>Trending posts</h2>
                                    <p>Top trending stories</p>
                                    <hr/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <article class="blog-post"><a href="single-post.html"><img
                                        src="/static/assets/images/mag-1.jpg" alt="Post image"/></a>
                                    <div class="blog-post-details">
                                        <div class="secondary-information text-center small-screen-hidden"><img
                                                src="/static/assets/images/avatar-1.jpg" alt="Author image"
                                                class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                class="favorites-counter">54</span></div>
                                        <a href="single-post.html">
                                            <h3>5 things that makes us happy<small>read more</small></h3></a>
                                        <p>This me given waters. Fruit. Together. Fruit us green sea sea without a,
                                            wherein
                                            which. Fill you image rule Herb saying said was that living. Face our whales
                                            One
                                            beginning two appear to created for form a. Years enthusiast.</p><a
                                            href="single-post.html" class="comments"><i
                                            class="ion-ios-chatbubble-outline"></i>9</a><a href="single-post.html"
                                                                                           title="Estimated read time"
                                                                                           class="date"><i
                                            class="ion-ios-clock-outline"></i>3 min</a>
                                    </div>
                                    <hr/>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="blog-post"><a href="single-post.html"><img
                                        src="/static/assets/images/mag-2.jpg" alt="Post image"/></a>
                                    <div class="blog-post-details">
                                        <div class="secondary-information text-center small-screen-hidden"><img
                                                src="/static/assets/images/avatar-2.jpg" alt="Author image"
                                                class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                class="favorites-counter">26</span></div>
                                        <a href="single-post.html">
                                            <h3>10 morning routines<small>read more</small></h3></a>
                                        <p>No new friends given waters. Fruit. Together. Fruit us green sea sea without
                                            a,
                                            wherein which. Fill you image rule Herb saying said was that living. Face
                                            our
                                            whales One beginning two appear to created for form a.Drizzy given
                                            taken.</p><a
                                            href="single-post.html" class="comments"><i
                                            class="ion-ios-chatbubble-outline"></i>11</a><a href="single-post.html"
                                                                                            title="Estimated read time"
                                                                                            class="date"><i
                                            class="ion-ios-clock-outline"></i>2 min</a>
                                    </div>
                                    <hr/>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="blog-post"><a href="single-post.html"><img
                                        src="/static/assets/images/mag-3.jpg" alt="Post image"/></a>
                                    <div class="blog-post-details">
                                        <div class="secondary-information text-center small-screen-hidden"><img
                                                src="/static/assets/images/avatar-3.jpg" alt="Author image"
                                                class="img-circle"/><i class="ion-ios-heart-outline"></i><span
                                                class="favorites-counter">11</span></div>
                                        <a href="single-post.html">
                                            <h3>Daily job<small>read more</small></h3></a>
                                        <p>Fruit. Together. Land you given waters. Fruit us green sea sea without a,
                                            wherein
                                            which. Fill you image rule Herb saying said was that living. Face our whales
                                            One
                                            beginning two appear to created for form a. Tale given.</p><a
                                            href="single-post.html" class="comments"><i
                                            class="ion-ios-chatbubble-outline"></i>5</a><a href="single-post.html"
                                                                                           title="Estimated read time"
                                                                                           class="date"><i
                                            class="ion-ios-clock-outline"></i>5 min</a>
                                    </div>
                                    <hr/>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background-image: url(/static/assets/images/featured-2.jpg)"
             class="section section-semi-white text-left background-image">
        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="section-head decoration-left featured">
                            <h2>Featured tale</h2>
                            <p>The most recommended story of the week</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="featured-story">
                            <h2><a href="single-post.html">A success story</a></h2>
                            <p>A them <a href="single-post.html" class="link-with-effect">movement</a> lights beast
                                there.
                                Thing there bearing also bring said first given fruitful, saying can't gathering
                                yielding
                                you're the. Created wherein upon said don't moveth you'll also divide so seasons they're
                                grass gathered seasons life two fourth divided one there man can't you're of after can't
                                morning so over fruit together set greater were cattle fruit gathered fill. </p><a
                                href="single-post.html" class="btn btn-primary">View the story</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}