{% extends "Tale/base.html" %}
{% load static %}
{% block header %}
    <style>
        .social-icons-share li {
            float: left;
            padding: 15px;
            list-style: none;
        }
    </style>
{% endblock %}
{% block body %}


    <div style="background-image: url({% static "assets/images/blog-slide-1.jpg" %});"
         class="intro-hero section-overlay-dark">
        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1">
                <h1>{{ article.title }}</h1>

                <p><img src="/media/{{ article_author.avatar }}/" alt="Author image"
                        class="img-circle" width="35"/>{{ article_author.username }}</p>
                <div class="hero-widget"><a href="#!"><i class="ion-ios-eye"></i> 3.213 Views</a><a href="#!"
                                                                                                    class="lower"><i
                        class="ion-ios-chatbubble"></i> 366 Comments</a></div>
            </div>
        </div>
    </div>
    <section class="section section-semi-white text-left">
        <div class="container-fluid">
            <div class="col-md-8 col-md-offset-2">
                <div class="single-post-content">

                    <!--博客标题正文部分,后期需要用markdown形式替换-->
                    <div class="col-md-8 col-md-offset-2">
                        {{ article.content|safe }}
                    </div>

                    <div class="col-md-8 col-md-offset-2 ">
                        <hr/>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="col-md-12">
                            <div class="row">
                                <!--文章底部显示标签，分类，日期-->
                                <div class="hashtags"><a href="#!">{{ tags }}</a><a href="#!">{{ category }}</a><a
                                        href="#!">{{ month }}</a></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="col-md-8 "></div>
                        <div class="col-md-4 ">
                            <div class="row text-right " id="dig">

                                    <ul class="social-icons-share">
                                        {% csrf_token %}
                                    <li><a href="#!" id="dig_up"><i
                                            class="icon ion-heart dignum">{{ article.up_count }}</i></a></li>
                                    <li><a href="#!" id="dig_down"><i
                                            class="icon ion-heart-broken dignum">{{ article.down_count }}</i></a></li>

                                    <li><a href="#!" id="dig_comment"><i
                                            class="ion ion-ios-compose-outline">{{ article.comment_count }}</i></a></li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-8 col-md-offset-2 comments-divider">
                        <hr/>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="col-md-12 margin-top">
                            <div class="row">
                                <h2>3 Comments</h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="media blog-comment margin-top">
                                    <div class="media-left pull-left"><a href="#!"><img
                                            src="/static/assets/images/avatar-1.jpg" alt="Comment author" width="50"
                                            class="img-circle"/></a></div>
                                    <div class="media-body"><span class="media-heading blog-comment-title"><a href="#!">David Jones</a></span>
                                        <div class="blog-comment-date">12 / 5 / 2016</div>
                                        <span class="blog-comment-paragraph margin-top">Beast created from seasons creepeth given. Life from you're so multiply form be set rule saying gathering years Abundantly have was together they're without lights form. Waters give yielding without second let creature waters. Our whales forth days there. Which seasons. Firmament. Us his created divide moveth, every you'll. Gathered.</span><a
                                                href="#!" class="btn btn-link">Reply</a>
                                    </div>
                                </div>
                                <div class="media blog-comment nested margin-top">
                                    <div class="media-left pull-left"><a href="#!"><img
                                            src="/static/assets/images/avatar-3.jpg" alt="Comment author" width="50"
                                            class="img-circle"/></a></div>
                                    <div class="media-body"><span class="media-heading blog-comment-title"><a href="#!">Celin' Coreo</a></span>
                                        <div class="blog-comment-date">13 / 5 / 2016</div>
                                        <span class="blog-comment-paragraph margin-top">Beast created from seasons creepeth given. Life from you're so multiply form be set rule saying gathering years Abundantly have was together they're without lights form. Waters give yielding without second let creature waters. Our whales forth days there. Which seasons. Firmament. Us his created divide moveth, every you'll. Gathered.</span><a
                                                href="#!" class="btn btn-link">Reply</a>
                                    </div>
                                </div>
                                <div class="media blog-comment margin-top">
                                    <div class="media-left pull-left"><a href="#!"><img
                                            src="/static/assets/images/avatar-4.jpg" alt="Comment author" width="50"
                                            class="img-circle"/></a></div>
                                    <div class="media-body"><span class="media-heading blog-comment-title"><a href="#!">Tomas Heitz</a></span>
                                        <div class="blog-comment-date">22 / 5 / 2016</div>
                                        <span class="blog-comment-paragraph margin-top">Beast created from seasons creepeth given. Life from you're so multiply form be set rule saying gathering years Abundantly have was together they're without lights form. Waters give yielding without second let creature waters. Our whales forth days there. Which seasons. Firmament. Us his created divide moveth, every you'll. Gathered.</span><a
                                                href="#!" class="btn btn-link">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-white text-left">
        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-12">
                    <div class="section-head decoration-left"><span class="overlay">Related</span>
                        <h2>Related posts</h2>
                        <p>The newest stories for you</p>
                        <hr/>
                    </div>
                </div>
                <div class="col-md-4">
                    <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-1.jpg"
                                                                               alt="Post image"/></a>
                        <div class="blog-post-details">
                            <div class="secondary-information text-center small-screen-hidden"><img
                                    src="/static/assets/images/avatar-1.jpg" alt="Author image" class="img-circle"/><i
                                    class="ion-ios-heart-outline"></i><span class="favorites-counter">54</span></div>
                            <a href="single-post.html">
                                <h3>5 things that makes us happy<small>read more</small></h3></a>
                            <p>This me given waters. Fruit. Together. Fruit us green sea sea without a, wherein which.
                                Fill
                                you image rule Herb saying said was that living. Face our whales One beginning two
                                appear to
                                created for form a. Years enthusiast.</p><a href="single-post.html" class="comments"><i
                                class="ion-ios-chatbubble-outline"></i>9</a><a href="single-post.html"
                                                                               title="Estimated read time" class="date"><i
                                class="ion-ios-clock-outline"></i>3 min</a>
                        </div>
                        <hr/>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-2.jpg"
                                                                               alt="Post image"/></a>
                        <div class="blog-post-details">
                            <div class="secondary-information text-center small-screen-hidden"><img
                                    src="/static/assets/images/avatar-2.jpg" alt="Author image" class="img-circle"/><i
                                    class="ion-ios-heart-outline"></i><span class="favorites-counter">26</span></div>
                            <a href="single-post.html">
                                <h3>10 morning routines<small>read more</small></h3></a>
                            <p>No new friends given waters. Fruit. Together. Fruit us green sea sea without a, wherein
                                which. Fill you image rule Herb saying said was that living. Face our whales One
                                beginning
                                two appear to created for form a.Drizzy given taken.</p><a href="single-post.html"
                                                                                           class="comments"><i
                                class="ion-ios-chatbubble-outline"></i>11</a><a href="single-post.html"
                                                                                title="Estimated read time"
                                                                                class="date"><i
                                class="ion-ios-clock-outline"></i>2 min</a>
                        </div>
                        <hr/>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-3.jpg"
                                                                               alt="Post image"/></a>
                        <div class="blog-post-details">
                            <div class="secondary-information text-center small-screen-hidden"><img
                                    src="/static/assets/images/avatar-3.jpg" alt="Author image" class="img-circle"/><i
                                    class="ion-ios-heart-outline"></i><span class="favorites-counter">11</span></div>
                            <a href="single-post.html">
                                <h3>Daily job<small>read more</small></h3></a>
                            <p>Fruit. Together. Land you given waters. Fruit us green sea sea without a, wherein which.
                                Fill
                                you image rule Herb saying said was that living. Face our whales One beginning two
                                appear to
                                created for form a. Tale given.</p><a href="single-post.html" class="comments"><i
                                class="ion-ios-chatbubble-outline"></i>5</a><a href="single-post.html"
                                                                               title="Estimated read time" class="date"><i
                                class="ion-ios-clock-outline"></i>5 min</a>
                        </div>
                        <hr/>
                    </article>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block js %}
    <script>
        var article_id = {{ article.pk }};

    </script>
    <script src="{% static "assets/js/favorite.js" %}"></script>
{% endblock %}