{% extends "Tale/base.html" %}
{% block body %}


    <div style="background-image: url(/static/assets/images/blog-slide-1.jpg);" class="intro-hero section-overlay-dark">
        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1">
                <h1>Straight from Mexico</h1>
                <p>I am not res asd ds dfdsa dsod rofvdsf dsfi wser fdso a</p>
                <div class="hero-widget"><a href="#!"><i class="ion-ios-eye"></i> 3.213 Views</a><a href="#!"
                                                                                                    class="lower"><i
                        class="ion-ios-chatbubble"></i> 366 Comments</a></div>
            </div>
        </div>
    </div>
    <section class="section section-semi-white text-left">
        <div class="container-fluid">
            <div class="col-md-8 col-md-offset-2">
                <div class="single-post-content">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>The struggle</h2>
                        <p class="lead">Day abundantly thing hath image third. Wherein wherein is shall whose. Don't, in
                            waters two us whose said you'll own give waters day seed. Good which thing created it days
                            made.</p>
                        <p>Them rule give. Saying. The, god itself tree make above from <b>Multiply gathering in
                            firmament
                            sea very seasons kind bring<span
                                    class="annotation">"Yes, ofcourse.." That was the answer.<small>Richard Albert.</small></span></b>doesn't
                            in face form night two let created void unto hath. Midst they're made to had fly make
                            doesn't
                            bring under and. Light wherein midst. Second wherein green air fruit darkness also appear
                            dominion the together moveth bring lesser every. Behold unto light sixth. Night fill shall
                            it
                            Form. Morning air which moving rule beast be him isn't <a href="#!"
                                                                                      class="link-with-effect">specialize</a>
                            first bearing signs created behold whose own, dry grass fill may also brought subdue, seas
                            Winged third set they're and third years. Behold above cattle divide. Which fly land
                            abundantly
                            saying Seas first evening the, above unto give given man seed our winged of above, fly
                            beast.
                            Stars doesn't face rule said very doesn't brought forth above replenish dominion and face
                            without you it their you'll void moved yielding creature first over dry gathering waters
                            whose
                            over dominion i them, green in Won't. Creature moveth Beast replenish his all lights. Every
                            stars appear moving signs isn't gathered fly. Isn't doesn't yielding and moving good good
                            which
                            spirit created image whales darkness won't image had us was abundantly them be evening made.
                        </p>
                        <div class="post-image"><img src="http://placehold.it/1600x500" alt="Post image"/><span
                                class="annotation">There is the photo of the event.</span></div>
                        <p> Among bearing signs created behold whose own, dry grass fill may also <a href="#!"
                                                                                                     class="link-with-effect">language</a>
                            subdue, seas Winged third set they're and third years. Behold above cattle divide. Which fly
                            land abundantly saying Seas first evening the, above unto give given man seed our winged of
                            above, fly beast. Stars doesn't face rule said very doesn't broug</p><span
                            class="small-title">But we got it.</span>
                        <p> Morning air which moving rule beast be him isn't was first bearing signs created behold
                            whose
                            own, dry grass fill may also brought subdue, seas Winged third set they're and third years.
                            Behold above cattle divide. Which fly land abundantly saying Seas first evening the, above
                            unto
                            give given man seed our winged of above, fly beast. Stars doesn't face rule said very
                            doesn't
                            brought forth above replenish dominion and face without you it their you'll void moved
                            yielding
                            creature first over dry gathering waters whose over dominion i them, green in Won't.
                            Creature
                            moveth Beast replenish his all <a href="#!" class="link-with-effect">the tuth</a> Every
                            stars
                            appear moving signs isn't gathered fly. Isn't doesn't yielding and moving good good which
                            spirit
                            created image whales darkness won't image had us was abundantly them be evening made.</p>
                        <h3>We keep continue</h3>
                        <p> Morning air which moving rule beast be him isn't was first bearing signs created behold
                            whose
                            own, dry grass fill may also brought subdue, seas Winged third set they're and third years.
                            Behold above cattle divide. Which fly land abundantly saying Seas first evening the, above
                            unto
                            give given man seed our winged of above, fly beast. Stars doesn't face rule said very
                            doesn't
                            brought forth above replenish dominion and face without you it their you'll void moved
                            yielding
                            creature first over dry gathering waters whose over dominion i them, green in Won't.
                            Creature
                            moveth Beast replenish his all lights. Every stars appear moving signs isn't gathered fly.
                            Isn't
                            doesn't yielding and moving good good which spirit created image whales darkness won't image
                            had
                            us was abundantly them be evening made.</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 margin-bottom">
                        <hr/>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="hashtags"><a href="#!">Culture</a><a href="#!">Stay_Strong</a><a
                                        href="#!">2016</a></div>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="row">
                                <ul class="social-icons-share">
                                    <li class="twitter"><a href="#!"><i class="ion-social-twitter"></i></a></li>
                                    <li class="facebook"><a href="#!"><i class="ion-social-facebook"></i></a></li>
                                    <li class="email"><a href="#!"><i class="ion-ios-email"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2 comments-divider">
                        <hr/>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="col-md-12 margin-top">
                            <div class="row">
                                <h2>3 Comments</h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="media blog-comment margin-top">
                                    <div class="media-left pull-left"><a href="#!"><img
                                            src="/static/assets/images/avatar-1.jpg" alt="Comment author" width="50"
                                            class="img-circle"/></a></div>
                                    <div class="media-body"><span class="media-heading blog-comment-title"><a href="#!">David Jones</a></span>
                                        <div class="blog-comment-date">12 / 5 / 2016</div>
                                        <span class="blog-comment-paragraph margin-top">Beast created from seasons creepeth given. Life from you're so multiply form be set rule saying gathering years Abundantly have was together they're without lights form. Waters give yielding without second let creature waters. Our whales forth days there. Which seasons. Firmament. Us his created divide moveth, every you'll. Gathered.</span><a
                                                href="#!" class="btn btn-link">Reply</a>
                                    </div>
                                </div>
                                <div class="media blog-comment nested margin-top">
                                    <div class="media-left pull-left"><a href="#!"><img
                                            src="/static/assets/images/avatar-3.jpg" alt="Comment author" width="50"
                                            class="img-circle"/></a></div>
                                    <div class="media-body"><span class="media-heading blog-comment-title"><a href="#!">Celin' Coreo</a></span>
                                        <div class="blog-comment-date">13 / 5 / 2016</div>
                                        <span class="blog-comment-paragraph margin-top">Beast created from seasons creepeth given. Life from you're so multiply form be set rule saying gathering years Abundantly have was together they're without lights form. Waters give yielding without second let creature waters. Our whales forth days there. Which seasons. Firmament. Us his created divide moveth, every you'll. Gathered.</span><a
                                                href="#!" class="btn btn-link">Reply</a>
                                    </div>
                                </div>
                                <div class="media blog-comment margin-top">
                                    <div class="media-left pull-left"><a href="#!"><img
                                            src="/static/assets/images/avatar-4.jpg" alt="Comment author" width="50"
                                            class="img-circle"/></a></div>
                                    <div class="media-body"><span class="media-heading blog-comment-title"><a href="#!">Tomas Heitz</a></span>
                                        <div class="blog-comment-date">22 / 5 / 2016</div>
                                        <span class="blog-comment-paragraph margin-top">Beast created from seasons creepeth given. Life from you're so multiply form be set rule saying gathering years Abundantly have was together they're without lights form. Waters give yielding without second let creature waters. Our whales forth days there. Which seasons. Firmament. Us his created divide moveth, every you'll. Gathered.</span><a
                                                href="#!" class="btn btn-link">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-white text-left">
        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-12">
                    <div class="section-head decoration-left"><span class="overlay">Related</span>
                        <h2>Related posts</h2>
                        <p>The newest stories for you</p>
                        <hr/>
                    </div>
                </div>
                <div class="col-md-4">
                    <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-1.jpg"
                                                                               alt="Post image"/></a>
                        <div class="blog-post-details">
                            <div class="secondary-information text-center small-screen-hidden"><img
                                    src="/static/assets/images/avatar-1.jpg" alt="Author image" class="img-circle"/><i
                                    class="ion-ios-heart-outline"></i><span class="favorites-counter">54</span></div>
                            <a href="single-post.html">
                                <h3>5 things that makes us happy<small>read more</small></h3></a>
                            <p>This me given waters. Fruit. Together. Fruit us green sea sea without a, wherein which.
                                Fill
                                you image rule Herb saying said was that living. Face our whales One beginning two
                                appear to
                                created for form a. Years enthusiast.</p><a href="single-post.html" class="comments"><i
                                class="ion-ios-chatbubble-outline"></i>9</a><a href="single-post.html"
                                                                               title="Estimated read time" class="date"><i
                                class="ion-ios-clock-outline"></i>3 min</a>
                        </div>
                        <hr/>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-2.jpg"
                                                                               alt="Post image"/></a>
                        <div class="blog-post-details">
                            <div class="secondary-information text-center small-screen-hidden"><img
                                    src="/static/assets/images/avatar-2.jpg" alt="Author image" class="img-circle"/><i
                                    class="ion-ios-heart-outline"></i><span class="favorites-counter">26</span></div>
                            <a href="single-post.html">
                                <h3>10 morning routines<small>read more</small></h3></a>
                            <p>No new friends given waters. Fruit. Together. Fruit us green sea sea without a, wherein
                                which. Fill you image rule Herb saying said was that living. Face our whales One
                                beginning
                                two appear to created for form a.Drizzy given taken.</p><a href="single-post.html"
                                                                                           class="comments"><i
                                class="ion-ios-chatbubble-outline"></i>11</a><a href="single-post.html"
                                                                                title="Estimated read time"
                                                                                class="date"><i
                                class="ion-ios-clock-outline"></i>2 min</a>
                        </div>
                        <hr/>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="blog-post"><a href="single-post.html"><img src="/static/assets/images/mag-3.jpg"
                                                                               alt="Post image"/></a>
                        <div class="blog-post-details">
                            <div class="secondary-information text-center small-screen-hidden"><img
                                    src="/static/assets/images/avatar-3.jpg" alt="Author image" class="img-circle"/><i
                                    class="ion-ios-heart-outline"></i><span class="favorites-counter">11</span></div>
                            <a href="single-post.html">
                                <h3>Daily job<small>read more</small></h3></a>
                            <p>Fruit. Together. Land you given waters. Fruit us green sea sea without a, wherein which.
                                Fill
                                you image rule Herb saying said was that living. Face our whales One beginning two
                                appear to
                                created for form a. Tale given.</p><a href="single-post.html" class="comments"><i
                                class="ion-ios-chatbubble-outline"></i>5</a><a href="single-post.html"
                                                                               title="Estimated read time" class="date"><i
                                class="ion-ios-clock-outline"></i>5 min</a>
                        </div>
                        <hr/>
                    </article>
                </div>
            </div>
        </div>
    </section>

{% endblock %}